*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: sans-serif;
}

main{
    width: 100%;
    padding: 20px;
    margin: auto;
    margin-top: 100px;
}

.contenedor__todo{
    width: 100%;
    max-width: 800px;
    margin: auto;
    position: relative;
}

.caja__trasera{
    width: 100%;
    padding: 10px 20px;
    display: flex;
    justify-content: center;
    backdrop-filter: blur(5px);
    background-color: rgba(10, 0, 146, 0.5);
}

.caja__trasera div{
    margin: 100px 40px;
    color: white;
    transition: all 500ms;
}
.caja__trasera div p,
.caja__trasera div button{
    margin-top: 30px;
}

.caja__trasera div h3{
    font-weight: 400;
    font-size: 26px;
}

.caja__trasera button{
    padding: 10px 40px;
    border: 2px solid white;
    background: transparent;
    font-size: 14px;
    font-weight: 600;
    cursor: pointer;
    color: white;
    outline: none;
    transition: all 300ms;
}
.caja__trasera button:hover{
    background: white;
    color: blue;
}

/*formularios*/

/*Contenedor Login Register Original*/
.clroriginal{
    display: flex;
    align-items: center;
    width: 100%;
    max-width: 300px;
    position: relative;
    top: -185px;
    left: 10px;
    transition: left 500ms cubic-bezier(0.175, 0.885, 0.320, 1.275);
}


.clroriginal form{
    width: 100%;
    padding: 80px 20px;
    background: white;
    position: absolute;
    border-radius: 20px;
}

.clroriginal form h2{
    font-size: 30px;
    font-weight: 300px;
    text-align: center;
    margin-bottom: 20px;
    color: rgb(0, 122, 192);
}

.clroriginal form input[type="text"]{
    width: 100%;
    margin-top: 20px;
    padding: 10px;
    border: none;
    background: #f2f2f2;
    font-size: 16px;
    outline: none;
}

.clroriginal form input[type="password"]{
    width: 100%;
    margin-top: 20px;
    padding: 10px;
    border: none;
    background: #f2f2f2;
    font-size: 16px;
    outline: none;
}

.clroriginal form input[type="checkbox"]{
    
    margin-top: 20px;
    appearance: none;
    position: relative;
    width: 50px;
    height: 25px;
    background: #ccc;
    border-radius: 50px;
    box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.4);
    cursor: pointer;
    transition: 0.4s;
}

.clroriginal form input:checked[type="checkbox"]{
   background: rgb(0, 109, 252);
}

.clroriginal form input[type="checkbox"]::after{
    position: absolute;
    content: "";
    width: 25px;
    height: 25px;
    top: 0;
    left: 0;
    background: #e7e7e7;
    border-radius: 50%;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.7);
    transform: scale(1.1);
    transition: 0.4s;
}

.clroriginal form input:checked[type="checkbox"]::after{
    left: 50%;
 }

.clroriginal form button{
    padding: 10px 40px;
    margin-top: 40px;
    border: none;
    font-size: 14px;
    background: blue;
    color: white;
    cursor: pointer;
    outline: none;
}

/*Contenedor login-register change*/

.clrchange{
    display: flex;
    align-items: center;
    width: 100%;
    max-width: 300px;
    position: relative;
    top: -185px;
    left: 450px;
    transition: left 500ms cubic-bezier(0.175, 0.885, 0.320, 1.275);
}

.clrchange form{
    width: 100%;
    padding: 80px 20px;
    background: white;
    position: absolute;
    border-radius: 20px;
}

.clrchange form h2{
    font-size: 30px;
    font-weight: 300px;
    text-align: center;
    margin-bottom: 20px;
    color: rgb(0, 122, 192);
}

.clrchange form input[type="text"]{
    width: 100%;
    margin-top: 20px;
    padding: 10px;
    border: none;
    background: #f2f2f2;
    font-size: 16px;
    outline: none;
}

.clrchange form input[type="password"]{
    width: 100%;
    margin-top: 20px;
    padding: 10px;
    border: none;
    background: #f2f2f2;
    font-size: 16px;
    outline: none;
}

.clrchange form input[type="checkbox"]{
    
    margin-top: 20px;
    appearance: none;
    position: relative;
    width: 50px;
    height: 25px;
    background: #ccc;
    border-radius: 50px;
    box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.4);
    cursor: pointer;
    transition: 0.4s;
}

.clrchange form input:checked[type="checkbox"]{
   background: rgb(0, 109, 252);
}

.clrchange form input[type="checkbox"]::after{
    position: absolute;
    content: "";
    width: 25px;
    height: 25px;
    top: 0;
    left: 0;
    background: #e7e7e7;
    border-radius: 50%;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.7);
    transform: scale(1.1);
    transition: 0.4s;
}

.clrchange form input:checked[type="checkbox"]::after{
    left: 50%;
 }

.clrchange form button{
    padding: 10px 40px;
    margin-top: 40px;
    border: none;
    font-size: 14px;
    background: blue;
    color: white;
    cursor: pointer;
    outline: none;
}

/*Formulario Login*/
/*Formulario Login Original*/

.floriginal{
    opacity: 1;
    display: block;
}

/*Formulario Login Change*/
.flchange{
    display: none;
}

/*Formulario Register*/
/*Formulario Register Original*/
.froriginal{
    display: none;
}
/*Formulario Register Change*/
.frchange{
    display: block;
}

/*Caja trasera register*/
/*Caja Trasera register original*/
.ctroriginal{
    opacity: 1;
}
.ctrchange{
    opacity: 0;
}

/*Caja trasera login*/
/*Caja trasera login original*/
.ctloriginal{
    opacity:0;
    
}
.ctlchange{
    opacity: 1;
    
}


/*Trabajo de responsive Design*/
@media screen and (max-width: 850px){

    main{
        margin-top: 50px;
    }
    .caja__trasera{
        max-width: 350px;
        height: 300px;
        flex-direction: column;
        margin: auto;
    }

    .caja__trasera div{
        margin: 0px;
        position: absolute;
    }

    /*Formularios*/

    .clroriginal{
        top: -10px;
        left: -5px;
        margin: auto;
    }

    .clroriginal form{
        position: relative;
    }

    .clrchange{
        top: -10px;
        left: -5px;
        margin: auto;
    }

    .clrchange form{
        position: relative;
    }

    
}