
    


<main>

    <div class="contenedor__todo">
        
        <div class="caja__trasera">

            <div [ngClass]="caja_trasera_login">
                <h3>¿Ya tienes una cuenta?</h3>
                <p>Inicia sesión para entrar en la página</p>
                <button id="btn_iniciar-sesion" (click)="cambiarEstilos2()">Iniciar Sesión</button>
            </div>
            <div [ngClass]="caja_trasera_register">
                <h3>¿Aun no tienes cuenta?</h3>
                <p>Registrate para iniciar sesión</p>
                <button id="btn_registrarse" (click)="cambiarEstilos()">Regístrarse</button>
            </div>
        </div>

        <!--Formulario de login y Registro-->
        <div [ngClass]="contenedor_login_register">

            <!--Login-->
            <form action="" [ngClass]="formulario_login">
                <h2>Iniciar Sesión</h2>
                <input type="text" placeholder="Correo Electronico">
                <input type="password" placeholder="Contraseña">
                <button>Entrar</button>
            </form>

            <!--Registro-->
            <form action="" [ngClass]="formulario_register">
                <h2>Registrarse</h2>
                <input type="text" placeholder="Nombre">
                <input type="text" placeholder="Apellido">
                <input type="text" placeholder="Correo Electronico">
                <input type="password" placeholder="Contraseña">
                <input type="text" placeholder="Telefono">
                
                <label><input type="checkbox"></label>
                <label for="Mayoristsa?">&nbsp;&nbsp;¿Eres Mayoristsa?</label>
                <br>  <br>  
                <button>Registrarse</button>
            </form>

        </div>
    </div>

</main>


<router-outlet></router-outlet>
